<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title>COVID-19 Myanmar Stats</title>
</head>
<body class="antialiased">
  <div class="relative bg-silver-md">

    <!-- container -->
    <main class="relative max-w-5xl mx-auto">
      <div class="flex flex-col min-h-screen lg:flex-row lg:items-center lg:p-8">
        <div class="flex flex-col flex-grow bg-white lg:shadow-2xl lg:rounded-lg lg:overflow-hidden">

          <!-- header -->
          <header class="flex-grow flex flex-col justify-center p-12 pt-5">
            <div class="md:pl-16 pl-0">
              <h1 class="sm:font-light text-3xl sm:text-3xl md:text-4xl text-primary-md mt-6">မြန်မာနိုင်ငံမှ ကိုဗစ်−၁၉ အချက်အလက်များ</h1>
              <p class="sm:text-sm text-beta-md mt-3 leading-relaxed">အချက်အလက်များကို ဤ <a href="https://covid19api.com/" target="_blank" class="text-blue-500">စာမျက်နှာ</a> ရယူသည်။</p>
            </div>
          </header>

          <!-- page section -->
          <section class="border-t-2 border-silver-md">

            <!-- items -->
            <div class="flex flex-wrap">

              <!-- item #1 -->
              <div class="flex flex-col px-12 py-10 w-full sm:w-1/2 sm:border-r sm:border-b border-silver-md">
                <div class="flex flex-grow">
                  <!-- item icon -->
                  <div class="pt-5">
                    <img src="/images/case.png" alt="A woman with sickness" />
                  </div>
                  <!-- item content -->
                  <section class="leading-relaxed flex flex-col ml-4 md:ml-6">
                    <h2 class="font-medium text-charcoal-md text-6xl">{{cTotal}}</h2>
                    <p class="text-slate-dk text-sm md:text-base">နောက်ဆုံးရ အတည်ပြုလူနာ အရေအတွက်</p>
                    <span class="text-sm md:text-base font-semibold pt-2 text-gray-400">{{cDate}}</span>                    
                  </section>
                </div>
              </div>

              <!-- item #2 -->
              <div class="flex flex-col px-12 py-10 w-full sm:w-1/2 sm:border-r sm:border-b border-silver-md">
                <div class="flex flex-grow">
                  <!-- item icon -->
                  <div class="pt-5">
                    <img src="/images/death.png" alt="RIP" />
                  </div>
                  <!-- item content -->
                  <section class="leading-relaxed flex flex-col ml-4 md:ml-6">
                    <h2 class="font-medium text-charcoal-md text-6xl">{{dTotal}}</h2>
                    <p class="text-slate-dk mt-1 text-sm md:text-base">နောက်ဆုံးရ သေဆုံးသူ အရေအတွက်</p>
                    <span class="text-sm md:text-base font-semibold pt-2 text-gray-400">{{dDate}}</span>
                  </section>
                </div>
              </div>
              <!-- end items -->

            </section>
            <!-- end page section -->

          <!-- page section -->
          <section class="border-t-2 border-silver-md flex-grow flex flex-col justify-center py-10 pt-6 px-12">
            <div class="md:pl-16 pl-0 text-center">
              <p class="text-slate-dk mt-1 text-sm md:text-base">Built by <a href="https://thantzinoo.net" target="_blank" class="text-blue-500">Thant Zin Oo</a>. Design by <a href="https://github.com/dylanized/tailwind-boilerplate" target="_blank" class="text-blue-500">dylanized</a>. Icons by <a href="https://www.iconfinder.com/iconsets/covid-19-2" target="_blank" class="text-blue-500">Just Icon</a>.</p>
            </div>
          </section>

          </div>
        </div>
      </main>
      <!-- end container -->

    </div>
  </div>
</body>
</html>